In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = "../../Covid-19-Datasets/Covid-19-Api/Datasets/15-Apr-2020.csv"
data = pd.read_csv(path, sep=',', index_col=0)
data.head()

,Countries,Total Cases,New Cases,Total Deaths,New Deaths,Total Recoveries,New Recoveries
0,ALA Aland Islands,0,0,0,0,0,0
1,Afghanistan,665,58,21,3,32,0
2,Albania,467,21,23,0,232,15
3,Algeria,1983,69,313,20,601,10
4,American Samoa,0,0,0,0,0,0

In [3]:
TotalCases = data['Total Cases'].sum()
TotalDeaths = data['Total Deaths'].sum()
TotalRecoveries = data['Total Recoveries'].sum()

df = pd.DataFrame([TotalCases,TotalDeaths,TotalRecoveries],
    index = ['Total Cases', 'Total Deaths', 'Total Recoveries'])